@charset "utf-8";

.top {
	background-color: #000000;
	text-align: center;
	font-size: 16px;
	float: left;
		
}

.content {
	float: left;
	width: 70%;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.photo {
	float: right;
	width: 30%;
}

.toprow:after {
	content: "";
	display: table;
	clear: both;
}

#header #header {
	font-family: andada;
	font-style: normal;
	font-weight: 400;
	font-size: 42px;
	text-align: center;
}
.edf {
}
